*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(250px, 1fr));
}
img{
    width: 5%;
    height: auto;

nav{
    background-color: blue;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: chocolate;
    color: white;
    padding: 10px;
}

}
.logoempresa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(250px, 2fr));
    height: 100vh;
}
main{
    background-color: blueviolet;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
aside{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background-color: bisque;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 400px) {
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    nav{
        background-color: crimson;
    }
}